---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Container from "@/components/Container.astro";
import H1 from "@/components/typography/H1.astro";
import H2 from "@/components/typography/H2.astro";
import H3 from "@/components/typography/H3.astro";
import H4 from "@/components/typography/H4.astro";
import Prose from "@/components/typography/Prose.astro";
import Features from "@/components/Features.astro";

---

<BaseLayout lang = "en" title = "homepage"> 
	<Container> 
		<H1>Hi There</H1>
		<H2>Hi There</H2>
		<H3>Hi There</H3>
		<H4>Hi There</H4>
		<Prose>Hi There</Prose>
		<Features/>
	</Container>
</BaseLayout>